.main-login {
  position: absolute;

  width: 750px;
  height: 450px;
  left: 265px;
  top: 135px;

  background: #FFFFFF;
  box-shadow: 0px 0px 26px rgba(68, 73, 85, 0.2);
  border-radius: 20px;
}

.input-name {
  box-sizing: border-box;

  position: absolute;
  width: 400px;
  height: 40px;
  left: 170px;
  top: 250px;

  border: 1px solid #003BE5;
  border-radius: 100px;
}

.button-submit {
  box-sizing: border-box;

  position: absolute;
  width: 400px;
  height: 40px;
  left: 170px;
  top: 300px;

  background: #003BE5;
  border-radius: 100px;
  color: white;
}

.input-name::placeholder {
  text-align: center;
  color: #003BE5;
}

#trybe {
  position: absolute;
  width: 112.84px;
  height: 41.78px;
  left: 285px;
  top: 100px;
  font-family: fantasy;
  font-size: 250%;
  font-style: italic;

  color: #00D5E2;
}

#tunes {
  position: absolute;
  width: 113.71px;
  height: 29.65px;
  left: 320px;
  top: 130px;
  font-family: fantasy;
  font-size: 250%;
  font-style: italic;

  color: #003BE5;
}